
.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flight-container {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-container h3 {
    margin: 0;
    margin-bottom: 10px;
}

.flight-container p {
    margin: 5px 0;
}

.delete-button {
    position: relative;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.book-button {
    position: relative;
    padding: 5px 10px;
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.passenger-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 50%; /* Shrink to half the size */
}
.form-field {
    margin-bottom: 10px;
    font-size: 12px;
}
.form-field label {
    display: block;
    margin-bottom: 5px;
}
.form-field input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.add-passenger {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}