.container-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.container-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.form-group.gender-group {
    display: flex;
    align-items: center;
}

.form-group.gender-group label {
    margin-right: 10px;
}

.form-group .register-link {
    display: block;
    margin-top: 15px;
    text-align: center;
}

.form-group input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}